---
import PortfolioDate from "../components/PortfolioDate.astro";
import TextLink from "../components/TextLink.astro";
import CategoryLogo from "../components/CategoryLogo.astro";

interface imageObj {
  url:string;
  alt:string;
}

interface Props {
  url:string;
  title:string;
  date:Date;
  modDate:Date;
  image: imageObj;
}
const { url, title, date, modDate, image } = Astro.props;
---
<section style="padding: 0.5lh; display: flex; flex-direction:column; gap: 0.25lh; ">
    <div style="display: flex; flex-direction: row; align-items: center; gap:.5lh">
        <CategoryLogo src={image.url} class="logo" />
        <h3 style="margin: 0; padding: 0; font-weight: 700; opacity: .90;">
            <TextLink url={url} title={title}/>
        </h3>
    </div>
    <PortfolioDate date={date} modDate={modDate}/>
</section>

<style lang="scss">
@use '../styles/_variables' as v;

section:hover {
    background-color: v.$portfolio-hover-color;
    opacity:1;
    border-radius: 5px;
}

.logo {
  width:10%;
  height:2lh;
}
</style>