---
import {Markdown } from "astro-remote";
import PortfolioDate from "../components/PortfolioDate.astro";
import TextLink from "../components/TextLink.astro";
import CategoryLogo from "../components/CategoryLogo.astro";
import PostDescription from "../components/PostDescription.astro";

interface imageObj {
  url:string;
  alt:string;
}

interface Props {
  url:string;
  title:string;
  description:string;
  date:Date;
  modDate:Date;
  image: imageObj;
}
const { url, title, description, date, modDate, image } = Astro.props;
---
<section style="padding: 0.5lh; display: flex; flex-direction:column; gap: 0.25lh; ">
    <div style="display: flex; flex-direction: row; align-items: center; gap:.5lh">
        <CategoryLogo src={image.url} class="logo" />
        <h2 style="margin: 0; padding: 0; font-weight: 700; opacity: .90;">
            <TextLink url={url} title={title}/>
        </h2>
    </div>
    <PortfolioDate date={date} modDate={modDate}/>
    {description && <Markdown content={description} sanitize={{ allowComponents: true }} components={{PostDescription}} />}
</section>

<style lang="scss">
@use '../styles/_variables' as v;

section:hover {
    background-color: v.$portfolio-hover-color;
    opacity:1;
    border-radius: 5px;
}

.logo {
  width:10%;
  height:75px;
}
</style>